#galleryContainer, #galleryPagination{
	text-align:center;
}

figure img{
	max-width: 100%;
	height: auto;
}

figure figcaption{
	text-align: center;
	font-family: sans-serif;
}

#galleryPagination li{
	list-style-type: none;
	display: inline;
}